@import url("https://fonts.googleapis.com/css>family=Montserrat:500");

:root {
  --main-radius: 5px;
  --main-padding: 5px;
  --main-color: #00A06E;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/* Grid configuration for the whole website */
.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2.5fr 0fr;
  grid-template-rows: auto;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "sidebar content content content"
    /* "footer footer footer footer" */;
  font-weight: 800;
  font-size: 12px;
  color: #000000fa;
  text-align: center;
}

/* Navigation */
nav {
  background-color: #c5c5c51b;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: nav;
  padding: 20px 2%;
  border-bottom: 3px solid var(--main-color);
}

.logo {
  cursor: pointer;
  margin-right: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 35px;
  padding-top: 40px;
}

.fa-solid, .fas {
  font-weight: 900;
  color: #153432;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 30px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgb(0 191 143);
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 25px;
  color: #153432;
  text-decoration: none;
 /*  margin-right: 30px; */
}

/* Main container */
main {
  background-color: #c5c5c51b;
  grid-area: main;
  border-bottom: 3px solid var(--main-color);
}

section#hero {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: black;
  padding-left: 100px;
}

#hero h1 {
  font-size: 2.5rem;
  font-weight: 200;
  display: inline-block;
  margin-left: -10em;
  padding: 1%;
  color: #153432;
}

#hero h2 {
  font-size: 2.5rem;
  font-weight: 400;
  display: inline-block;
  padding: 1%;
  color: #153432;
  padding-right: 450px;
}

section#user-hero {
  width: 100%;
  text-align: center;
  color: black;
  padding-left: 100px;
  display: flex;
  background-color: var(--main-color);
  padding-top:20px;
}

#user-hero h1 {
  font-size: 2.5rem;
  font-weight: 200;
  display: inline-block;
  padding: 1%;
  color: #ffffff;
padding-right: 350px;
}

#user-hero h2 {
  font-size: 2.5rem;
  font-weight: 400;
  display: inline-block;
  padding: 1%;
  color: #153432;
  padding-right: 450px;
}

/* Posts toggle */
.toggle {
  margin-left: -30em;
  --width: 100px;
  --height: calc(var(--width) / 2.3);
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #ccc;
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: inset 0px 0px 12px 0px rgb(0 191 143);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
  background-color: var(--main-color);
}

.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  color: #4d4d4d;
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 10px;
  color: #ffffff;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
  opacity: 0;
}

.toggle input:checked ~ .labels::before {
  opacity: 1;
}

/* Categories sidebar */
#sidebar {
  background-color: #c5c5c51b;
  grid-area: sidebar;
  padding: var(--main-padding);
  border-right: 3px solid var(--main-color);
}

#sidebar-user {
  background-color: #c5c5c51b;
  padding-top: var(--main-padding);
  border-right: 3px solid var(--main-color);
  padding-right: 40px;
  padding-top: 50px;
  padding-left: 20px;
}

#sidebar-user h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #0c3e05;
}

#sidebar-user span {
  font-family: "Montserrat", sans-serif;
  font-size: 20px
}

#sidebar-user p {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  color: #153432;
  opacity: 0.6;
  text-align: center;
}

.fa-thumbs-up:before {
  font-size: 40px;
  color: #153432;
  padding:10px;
}

.fa-thumbs-down:before {
  font-size: 40px;
  color: #153432;
  padding:10px;
}

.icon {
  display:inline-flex;
}

#sidebar h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #0c3e05;
  text-align: left;
  padding-left: 20px;
}

#sidebar a {
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  color: #153432;
  opacity: 0.6;
  text-align: left;
  padding-top: 25px;
  padding-left: 15px;
  line-height: 20px; 
}

/* Posts */
a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  margin: 1rem;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: content;
  flex-wrap: wrap;
}

/* Posts Sorting */
.sort {
  display: flex;
  font-family: Montserrat, sans-serif;
  color: #153432;
  opacity: 0.6;
  font-size: 1em;
  color: rgb(53, 53, 53);
  padding: 50px;
  margin-left: -850px;
}

.sort button {
  margin-left: 20px;
  font-size: 20px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 150px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #0c3e05;
}

.post-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  background-color: var(--main-color);;
  border: 1px solid var(--main-color);
  margin: 30px;
  border-radius: 4px;
}

.post-box-image {
  background-color: white;
  height: 190px;
  border-radius: 4px;
}

.post-box h2 {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 30px;
}

.post-img {
  width: 100%;
  height: auto;
}

.post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #FFFFFF; 
}

.button-upload {
  margin: 10px 20px;
}

.post-text {
  display: flex;
  align-items: center;
  margin: 20px 20px 20px 20px;
  color: #0c3e05;
}

.post-location {
  display: flex;
  align-items: center;
}

.post-location > p {
  margin-left: 5px;
}

.post-box .fa-solid, .fas {
  font-weight: 900;
  color: #e7ebeb;
}


/* Date */
input {
  float: right;
  margin: 0px 0px 0px 50px;
}

/* Footer */
footer {
  width: 100%;
  background-color: #c5c5c51b;
  grid-area: footer;
}

.row{
	display: flex;
}

ul{
	list-style: none;
}

.footer-col{
  width: 25%;
  background: #153432;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
  text-align: center
}

/* NEW POST */
.new-post {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 880px;
  width: 800px;
  top: 50;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  position: absolute;
  /* background-color: var(--main-color); */
  background-color: black;
}

.new-post-title {
  color: white;
  padding-left: 20px;
  font-size: 2em;
}

.new-post-header {
  top: 0;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 2px solid white;
}

.new-post-exit {
  padding-right: 50px;
}

.new-post-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-post-input-item {
  padding: 30px 0px 15px 0px;
}

.new-post-input-button {
  padding: 2px 25px;
  margin-top: 20px;
  cursor: pointer;
}

.new-post-input-button:hover {
  background-color: var(--main-color);
}

.new-post-dropdown {
  padding: 10px 25px;
  font-size: 1.8em;
}

.new-post-img {
  width: 200px;
  height: 200px;
  border: 2px solid grey;
  margin-top: 50px;
}

#make-new-post-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.footer-col p{
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  margin-top: 70px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

/*grid responsiveness*/
@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "content1"
      "content2"
      /* "footer" */;
  }
}

@media(max-width: 1100px){
  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media(max-width: 767px){
  .footer-col{
    width: 100%;
    margin-top: 0px;
  }

  .row {
    flex-direction: column;
  }
}

@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
}