 .post-img
form(action='/upload', method='post', enctype='multipart/form-data')
          label(for='image') Select an image to upload:
          input(type='file', name='image', id='image', accept='image/*')
          .button-upload
            button(type='submit') Upload Photo


form(action='/upload', method='post', enctype='multipart/form-data')
          label(for='image') Select an image to upload:
          input(type='file', name='image', id='image', accept='image/*')
          .button-upload
            button(type='submit') Upload Photo
