extends layout
block content
  - console.log("SE HER", data) 
  // Main container
  main
    section#hero
        h1 ALL ITEMS
        label.toggle
          input(type='checkbox')
          span.slider
          span.labels(data-on='LOST' data-off='FOUND')
  // Sidebar container
  #sidebar
    h1 Categories
    ui
      a(href='#') All Categories
      a(href='#') Clothing
      a(href='#') Electronics
      a(href='#') Sport Equip.
            a(href='#') Student ID
      a(href='#') Other
  // Content container
  #content
    .sort
      i.fa-solid.fa-location-dot(style='font-size: 15px')      Sort By
      button
        | Date Posted 
        i.fa-solid.fa-chevron-down
        
    .posts
      // Posts

      for item in data
        div #{item.item_name}
     
      //.post-box
        h1 ${title}

        replace: img src tag
        div image goes here 

        .post-text
          i.fa-solid.fa-location-dot(style='font-size: 15px')      ${location}
          p date goes here

      



