extends layout
block content

  // Main container
  main
    section#hero
        h1 ALL ITEMS
        label.toggle
          input(type='checkbox')
          span.slider
          span.labels(data-on='LOST' data-off='FOUND')
  // Sidebar container
  #sidebar
    h1 Categories
    ui
      a(href='#') All Categories
      a(href='#') Clothing
      a(href='#') Electronics
      a(href='#') Sport Equip.
            a(href='#') Student ID
      a(href='#') Other
  // Content container
  #content
    .sort
      p Sort By
      button
        | Date Posted 
        i.fa-solid.fa-chevron-down
    
    // make posts clickable
    .posts
      // Posts
      for item in data
        .post-box
          h2 #{item.item_name}
          .post-box-image 
            p image goes here 
          .post-text
            .post-location
              img(src='public/location.png' width='17' height='20')
              p #{item.location}
            div #{item.date}






