extends layout
block content

    // Main container
    main
      section#user-hero
          h2 Settings
          h1 My Posts
          
          button#make-new-post-btn
            img(src='public/images/addIcon.png' width='95' height='95')
    
    section#newPostForm.new-post
      div.new-post-header
        h3.new-post-title NEW POST

        button#exitNewPost
          img.new-post-exit(src='public/images/exit.png' width='50' height='50')
      
      // current uploaded image here
      img#uploadedImage.new-post-img(src=reformattedPath) 

      // enctype => multipart/form-data for images upload 
      form.new-post-input(action="/upload", method="POST" enctype="multipart/form-data") 
        input#uploadImage(type="file" name="image") 

        label.new-post-input-item(for="name") Item Name 
        input(type="text", name="name")

        label.new-post-input-item(for="location") Location 
        input(type="text", name="location")

        label.new-post-input-item(for="description") Description
        input(type="text", name="description")

        h4.category-title Chose category(s) for item (max 2)
        section.new-post-checkboxes
          // Make buttons instead 
          div.new-post-checkbox 
            input(type="checkbox" name="category" value="clothing")
            label(for="clothes") Clothing

          div.new-post-checkbox 
            input(type="checkbox" name="category" value="electronics")
            label(for="electronics") Electronics

          div.new-post-checkbox 
            input(type="checkbox" name="category" value="sport-equp")
            label(for="sport-equp") Sport Equip.

          div.new-post-checkbox 
            input(type="checkbox" name="category" value="clothes")
            label(for="other") Other

        button#submitForm.new-post-input-button(type="submit") POST

    // Sidebar container
    #sidebar-user
        i.fa-solid.fa-circle-user(style='font-size:110px')
        h1 User Names
        span Items Found
        span Items Received
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing       elit. Ea, repellat dolore nisi, id omnis, necessitatibus     mollitia distinctio delectus soluta eveniet accusantium       quas veritatis aliquam! Ea architecto beatae inventore       qui quisquam?
        .icon
            i.fa.fa-thumbs-up(style='font-size:10px')
            | 90 Likes 
            br
            |  Upvotes
            br
            i.fa.fa-thumbs-down(style='font-size:10px')
            | 7 Dislikes 
            br
            |  Downotes
            
    // make posts clickable
    .posts
      // Posts
      

    script(src='/public/script/newPost.js')
    